<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="appharbor" connectionString="Data Source=a4ab2be1-d6ad-4fcc-8b2e-a74c011da1df.sqlserver.sequelizer.com;Initial Catalog=dba4ab2be1d6ad4fcc8b2ea74c011da1df;Persist Security Info=True;User ID=fvaevmiwdulzafcf;Password=rJTFdinUs37CqUdcBao58dignRLfwT8xL2CQ5PQdLn27DYJuTyC88jpozLstDgxF;Connect Timeout=600"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <customErrors mode="Off"></customErrors>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
